html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightblue
}

.rcorners1 {
    border-radius: 25px;
}

.cardPlaylist {
    width: 900px; /* Sätter bredden */
    height: 200px; /* Sätter höjden */
    padding: 20px; /* Skapar inre marginaler */
    border: 1px solid #ccc; /* Ger en tunn ram */
    border-radius: 10px; /* Rundar hörnen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lägger till skugga */
    display: flex; /* Gör kortet flexibelt */
   /* flex-direction: column;*/ /* Staplar innehållet vertikalt */
    justify-content: space-between; /* Fördelar utrymme mellan element */
    background-color: darkgray; /* Sätter en bakgrundsfärg */
}
.cardAllSongs {
    width: 200px; /* Sätter bredden */
    height: 150px; /* Sätter höjden */
    padding: 20px; /* Skapar inre marginaler */
    border: 1px solid #ccc; /* Ger en tunn ram */
    border-radius: 10px; /* Rundar hörnen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lägger till skugga */
    display: flex; /* Gör kortet flexibelt */
    flex-direction: column; /* Staplar innehållet vertikalt */
    justify-content: space-between; /* Fördelar utrymme mellan element */
    background-color: #fff; /* Sätter en bakgrundsfärg */
}
.cardAllPlaylists {
    width: 200px; /* Sätter bredden */
    height: 150px; /* Sätter höjden */
    padding: 20px; /* Skapar inre marginaler */
    border: 1px solid #ccc; /* Ger en tunn ram */
    border-radius: 10px; /* Rundar hörnen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lägger till skugga */
    display: flex; /* Gör kortet flexibelt */
    flex-direction: column; /* Staplar innehållet vertikalt */
    justify-content: space-between; /* Fördelar utrymme mellan element */
    background-color: #fff; /* Sätter en bakgrundsfärg */
}
.cardPlaylistContent {
    width: 200px; /* Sätter bredden */
    height: 150px; /* Sätter höjden */
    padding: 20px; /* Skapar inre marginaler */
    border: 1px solid #ccc; /* Ger en tunn ram */
    border-radius: 10px; /* Rundar hörnen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lägger till skugga */
    display: flex; /* Gör kortet flexibelt */
    flex-direction: column; /* Staplar innehållet vertikalt */
    justify-content: space-between; /* Fördelar utrymme mellan element */
    background-color: #fff; /* Sätter en bakgrundsfärg */
}